.header{
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  .userProfile{
    display: inline-block;
    margin-left: 26px;
    margin-right: 26px;
    cursor: pointer;

    .username{
      display: inline-block;
      font-family: "Inter", serif;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      color: #000000D9;
      margin-right: 9px;
    }
    .userAvatar{
      display: inline-block;
    }
  }

  & h2 {
    margin-top:-1px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}